@model ECommerce_App.Models.Category;

<h1>Michael Jordan's 23 Delivery and Me</h1>

<h2> Welcome to our meal kit delivery service </h2>

<h3>Please log in</h3>

<form method="post" action="/login/authenticate">
    <div>
        <input type="text" name="username" placeholder="Username" />
    </div>

    <div>
        <input type="password" name="password" placeholder="Password" />
    </div>

    <div>
        <input type="submit" value="sign in" />
    </div>
</form>