@model IEnumerable<ECommerce_App.Models.Category>

<ul>
    @foreach (var category in Model)
    {
        <li>
            <a asp-controller="Login" asp-action="Category" asp-route-name=@category.Name asp-route-type=@category.Name>@category.Name</a>
        </li>
    }

</ul>
