<h1>Welcome, welcome to the Login Page</h1>

<form method="post" action="/login/authenticate">
    <div>
        <input type="text" name="username" placeholder="UserName" />
    </div>

    <div>
        <input type="password" name="password" placeholder="Password" />
    </div>

    <div>
        <input type="submit" value="sign in" />
    </div>





</form>