@model ECommerce_App.Auth.Models.DTO.UserDTO
<h1>User Profile Page</h1>

<h2>Welcome back @Model.Username</h2>

<h3> You are a @Model.Roles</h3>

<td>@Html.ActionLink("Categories", "Categories")</td>



