<h1>Signup Here!</h1>

<form method="post" action="/login/register">
    <div>
        <input type="text" name="username" placeholder="UserName" />
    </div>

    <div>
        <input type="password" name="password" placeholder="Password" />
    </div>

    <div>
        <input type="text" name="email" placeholder="Email@example.com" />
    </div>

    <div>
        <input type="text" name="phonenumber" placeholder="xxx-xxxx" />
    </div>

    <div>
        <input type="submit" value="add account" />
    </div>

</form>
