@page
@model ECommerce_App.Pages.Products.ProductsModel
@{
}

<h1>Here are our product offerings</h1>
@if (Model.Products != null)

{
    @foreach (var type in Model.Products)
    {
        @type.type

        @if (Model.Products != null)
        {

            @foreach (var product in Model.Products)
            {

                <div><a asp-page="/products/product" asp-route-id="@product.productId">@product.name</a></div>}
        }

    }

}


