@page
@model ECommerce_App.Pages.Products.ProductsModel
@{
}

<h1>Here are our product offerings</h1>
@if (Model.Products != null)

{
   
   
        

        @if (Model.Products != null)
        {

            @foreach (var product in Model.Products)
            {

                <div><a asp-page="/products/product" asp-route-id="@product.Id">@product.Name</a></div>
                <div>
                    <a href="/products/product?id=@product.Id&price=@product.Price"></a>
                </div>
                }
        }

    

}


