@page
@model ECommerce_App.Pages.Products.ProductsModel
@{
}

<h1>Here are our product offerings</h1>

@if (Model.Products != null)
{
    @foreach (var product in Model.Products)
    {
        <div>@product.name</div>
        <div><a asp-page="/products/product" asp-route-id="@product.id">@product.name</a></div>}
}

